@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login Page css */
.login_back-ground {
  background-image: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
